/*==============================
=            header            =
==============================*/

header {
	padding: 40px 0 0 0;
	position: fixed;
	top: 0;
	left: 0;
	// width: 100vw;
	width: 100%;
	z-index: 99;
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;

	.branding {
	
		img, svg {
			width: 75px;
			height: auto;
			clear: both;
			display: block;
			margin-bottom: 10px;
			-webkit-transition: all .25s linear;
			-moz-transition: all .25s linear;
			-ms-transition: all .25s linear;
			-o-transition: all .25s linear;
			transition: all .25s linear;

			@media (#{$bp-larger-than-tablet}) {
				width: 100px;
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			path {
				fill: white;
			}
		}
	}
}

/*=================================
=            elemenbts            =
=================================*/
body {
	over§w-x: hidden;
}

.page {
	// overflow: -webkit-paged-y;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.se-slope{
	margin: 0 0;
	transform-origin: left center;
	position: absolute;
	width: 110%;
	height: 150px; 
	z-index: 0;
	left: 0;
	background-color: white;

	@media (#{$bp-larger-than-desktop}) {
		z-index: -1;
		height: 250px; 
	}


}

.se-slope.top {
	transform: rotate(6deg) skew(6deg,0deg);
	top: 0;
	margin-top: -150px;

	@media (#{$bp-larger-than-desktop}) {
		margin-top: -250px;
	}
}

.se-slope.bottom {
	transform: rotate(-6deg) skew(-6deg,0deg);
	bottom: 0;
	margin-bottom: -150px;

	@media (#{$bp-larger-than-desktop}) {
		margin-bottom: -250px;
	}
}



@media (#{$bp-smaller-than-desktop}) {
	
	br {
		display: none;
	}
}

/*================================
=            sections            =
================================*/

section {
	position: relative;
	//min-height: 300px;
	background-color: white;
	overflow: hidden;

	.row {
		margin-bottom: 30px;


		&:last-of-type {
			margin-bottom: 0;
		}
	}

	h3 {
		color: #5f007b;
		font-size: 66px;
		border-bottom: 2px solid #27b6b3;
		margin-bottom: 20px;
		padding-bottom: 20px;
		line-height: 1;

		@media (#{$bp-smaller-than-desktop}) {
			font-size: 40px;
		}
	}

	.blank {
		@media (#{$bp-smaller-than-desktop}) {
			display: none;
		}
	}

	.copy {
		@media (#{$bp-smaller-than-desktop}) {
			//margin-left: 0;
		}
	}

}

#intro {
	background-color: transparent;
	max-width: 1920px;
	height: 100vh;
	margin: 0 auto;

	@media (#{$bp-larger-than-phablet}) {
	}

	@media (#{$bp-larger-than-tablet}) {
    	height: 1080px;
	}

	@media (#{$bp-smaller-than-tablet}) {
		background-position: 66% center !important;
	}

	.hero {	
		// @media (#{$bp-smaller-than-desktop}) {
		// 	width: 100%;
		// 	margin-right: 0;
		// 	margin-left: 0;
		// }
		@media (#{$bp-larger-than-tablet}) {
			padding: 300px 0 200px 0;
		}
	}

	h1, h2 {
		color: white;
		line-height: 1;
		margin: 0;
	}

	h1 {
		color: white;
		font-size: 90px;
		margin-bottom: 0;

		@media (#{$bp-smaller-than-tablet}) {
			font-size: 50px;
		}
	}

	h2 {
		color: white;
		font-size: 60px;

		@media (#{$bp-smaller-than-tablet}) {
			font-size: 30px;
		}
	}

	h3, p {
		color: white;
	}

	&:after {
		@include bottomslope();
	}
}

#basic {
	padding: 150px 0;
}

#reach, #primary {
	padding: 150px 0;

	// img, svg {
	// 	position: absolute;
	// 	right: 0px;
	// 	top: 50px;
	// 	width: 80px;

	// 	@media (#{$bp-smaller-than-tablet}) {
	// 		display: none;
	// 	}
	// }

	img {
		width: 75%;
	}

	@media (#{$bp-larger-than-tablet}) {
		img {
			width: 100%;
		}
	}

	.blurb {

		@media (#{$bp-smaller-than-tablet}) {
			margin-top: 30px;
		}

		h2, h3, h4 {
			display: block;
			font-size: 22px;
			font-family: "Uniform";
			color: $primary-color;
		}
	}

	.icons {
		margin-top: 60px;

		.icon {
			float: left;
			width: 100%;

			@media (#{$bp-larger-than-tablet}) {
				width: 17%;
				margin-right: 6%;
			}

			&:last-of-type {
				width: 100%;
				margin-right: 0;

				@media (#{$bp-larger-than-tablet}) {
					width: 53%;
				}
			}

			img {
				display: inline-block;
				margin-bottom: 30px;
				width: 75%;

				@media (#{$bp-larger-than-tablet}) {
					width: 100%;
				}
			}

			h2, h3, h4 {
				display: block;
				font-size: 22px;
				font-weight: 800;
				font-family: "Uniform";
				color: $primary-color;
			}
		}
	}

}

#social {
	height: 720px;
	background-color: transparent;
	max-width: 1920px;
	margin: 0 auto;

	#grain {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $secondary-color;
		opacity: 1;
		-webkit-transition: opacity 2s linear 2s;
		   -moz-transition: opacity 2s linear 2s;
		    -ms-transition: opacity 2s linear 2s;
		     -o-transition: opacity 2s linear 2s;
		        transition: opacity 2s linear 2s;

		&.hide {
			opacity: 0;
		}
	}

	@media (#{$bp-larger-than-tablet}) {
		height: 1080px;
	}

	video {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -1000;
		overflow: hidden;
	}

	.slick-slider {
		position: inherit;
	}

	.slick-prev, .slick-next {
		position: absolute;
		top: 50%;
		width: 30px;
		height: 50px;
		display: block;
		background-size: contain;
		background-repeat: no-repeat;
		text-indent: -9999px;

		@media (#{$bp-smaller-than-tablet}) {
			display: none !important;
		}
	}

	.slick-prev {
		background-image: url(assets/img/left-chevron.svg);
		left: -40px;
	}

	.slick-next {
		background-image: url(assets/img/right-chevron.svg);
		right: -40px;
	}

	h3, p {
		color: white;
	}

	&:after {
		@include bottomslope();
	}

	&:before {
		@include topslope();
		z-index: 1;
	}

	.stats {
		margin-bottom: 30px;

		.stat {
			width: 100%;
			float: left;
			margin-bottom: 20px;
			padding: 15px;
			box-sizing: border-box;

			@media (#{$bp-larger-than-tablet}) {
				width: 50%;
			}

			@media (#{$bp-larger-than-desktop}) {
				width: 25%;
				margin-bottom: 0;
				padding: 0 20px 0 0;
				box-sizing: border-box;
			}

			img {
				width: 75%;
				display: block;
				margin: 0 0 30px 0;

				@media (#{$bp-larger-than-tablet}) {
					width: 90%;
					margin: 0 auto 30px;
				}
			}

			h4 {
				margin-bottom: 0;
				color: white;
				font-size: 40px;
				line-height: 1;
				font-family: "Uniform-Medium";

				@media (#{$bp-larger-than-phablet}) {
					font-size: 45px;
				}

				@media (#{$bp-larger-than-desktop}) {
					font-size: 60px;
				}
			}
		}
	}

	.caveat {
		margin-top: 40px;
		display: inline-block;

		h4 {
			color: $primary-color;
			font-size: 34px;
			font-family: "Uniform-Medium";
		}
	}
}

.home #social {
	@media (#{$bp-smaller-than-tablet}) {
    	background-position: 0 50% !important;
	}
}

.home #reach img {
	width: 100%;
}

.how-it-works #social, .about #social, .licensing #social {
	background-color: $secondary-color;
	height: auto;
	padding: 220px 0;
	min-height: auto;
}

.licensing #social {

	h2, h3, h4, p {
		color: white;
		border-color: white;
	}

	@media (#{$bp-smaller-than-tablet}) {
		img {
			width: 75%;
		}
	}

	.blurb {

		@media (#{$bp-smaller-than-tablet}) {
			margin-top: 30px; 
		}

		a {
			text-decoration: none;
		}

		h2, h3, h4, h5 {
			font-size: 30px;
		}

		p {
			font-size: 20px;
			font-family: "Uniform-Medium";

			@media (#{$bp-smaller-than-tablet}) {
				/* word-break: break-all; */
				word-wrap: break-word;
			}
		}
	}
}

#brands {
	padding: 150px 0;

	.images {

		img {
			float: left;
			width: 49%;
			height: auto;
			margin-right: 0.5%;
			margin-bottom: 0.5%;
		}
	}

	.library {

		.item {
			float: left;
			width: 100%;
			box-sizing: border-box;
			padding: 15px;
			margin-bottom: 20px;

			@media (#{$bp-larger-than-tablet}) {
				width: 50%;
			}

			@media (#{$bp-larger-than-desktop}) {
				width: 25%;
				margin-bottom: 0;
			}


			&:nth-child(3n) {
				clear: left;

				@media (#{$bp-larger-than-tablet}) {
					clear: none;
				}
			}

			img {
				width: 75%;
				display: block;

				@media (#{$bp-larger-than-tablet}) {
					width: 100%;
				}
			}

			h3, h4 {
				font-size: 20px;
				padding-bottom: 0;
				border-bottom: 0;
			}

			&:last-of-type {
				background-color: $secondary-color;
				padding: 15px;
				color: white;

				h1, h2, h3, h4 {
					color: white;
					font-size: 26px;
					text-transform: uppercase;
				}
			}
		}
	}
}

.multiple-items {
	width: 100%;
}

#track {
	background-color: $primary-color;
	height: auto;
	padding: 150px 0;
	min-height: auto;

	max-width: 1920px;
	margin: 0 auto;

	&:after {
		@include bottomslope();
	}

	&:before {
		@include topslope();
	}

	h1, h2, h3, h4 {
		color: white;
	}

	.social {
		text-align: center;
		
		.fab, svg {
			font-size: 40px;
			width: 60px;
			border-radius: 50%;
			text-align: center;
			color: $primary-color;
			background-color: $secondary-color;
			padding: 10px 0;
			margin-right: 5px;
			margin-bottom: 5px;

			@media (#{$bp-larger-than-tablet}) {
				width: 80px;
				padding: 20px 0;
			}

			@media (#{$bp-larger-than-desktop}) {
				font-size: 70px;
				width: 110px;
				margin: 0 13px;
			}
		}
	}

	.slick-prev, .slick-next {
		position: absolute;
		top: 50%;
		width: 30px;
		height: 50px;
		display: block;
		background-size: contain;
		background-repeat: no-repeat;
		text-indent: -9999px;
	}
	.slick-prev {
		@media (#{$bp-smaller-than-tablet}) {
			left: 0 !important;
			top: 130%;
		}
	}

	.slick-next {
		@media (#{$bp-smaller-than-tablet}) {
			right: 0 !important;
			top: 130%;
		}
	}

	.slick-prev {
		background-image: url(assets/img/left-chevron.svg);
		left: -40px;
	}

	.slick-next {
		background-image: url(assets/img/right-chevron.svg);
		right: -40px;
	}

	.stats {
		margin: 100px 0 0 0;
		// display: inline-block;

		@media (#{$bp-larger-than-tablet}) {
			margin: 100px 0;
		}

		.stat {
			width: 30%;
			float: left;
			margin-right: 5%;

			&:last-of-type {
				margin-right: 0;
			}
		}
		
		.slick-prev:before, 
		.slick-next:before {
			color: black;    
		}
		
		.phoneslider {
			display: block;
			width: auto;
			// background-image: url(assets/img/phone.png);

			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% auto;
			padding: 0px 10%;

			background-color: white;
			border-top: 7px solid white;
			border-bottom: 7px solid white;

			border-radius: 20px;
			position: relative;

			@media (#{$bp-larger-than-phablet}) {
				padding: 0px 70px;
			}

			@media (#{$bp-larger-than-tablet}) {
				padding: 0px 100px;
			}

			@media (#{$bp-larger-than-desktop}) {
				padding: 0px 122px;
			}

			&:before {
				content: "";
				position: absolute;
				left: 100px;
				height: 40px;
				width: 10px;
				border-radius: 20px;
				background: purple;
				z-index: 10;
				top: 50%;
				margin-top: -20px;
				left: 4%;

				@media (#{$bp-larger-than-tablet}) {
					height: 70px;
					margin-top: -35px;
					left: 6.4%;
				}
			}

			&:after {
				content: "";
				position: absolute;
				height: 30px;
				width: 18px;
				border-radius: 34px;
				background: purple;
				z-index: 10;
				top: 50%;
				margin-top: -15px;
				right: 2%;

				@media (#{$bp-larger-than-phablet}) {
					right: 5%;
				}

				@media (#{$bp-larger-than-tablet}) {
					height: 60px;
					margin-top: -30px;
					right: 5%;
					width: 28px;
				}
			}

			.embed-container {
				position: relative;
				padding-bottom: 56.25%;
				height: 0;
				overflow: hidden;
				max-width: 100%;
				height: auto;
				margin: 0;
			}

			.embed-container iframe,
			.embed-container object,
			.embed-container embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

		}
	}
}

#joining {
	padding: 150px 0;

	.copy {

		p {
			font-family: "Uniform-Black";
			font-size: 22px;
			color: $primary-color;

			&:last-of-type {
				color: $secondary-color;
			}
		}
	}

	.blurb {

		p {
			font-family: "Uniform";
			font-size: 22px;
			color: $primary-color;

			&:last-of-type {
				color: $secondary-color;
			}
		}

		h2, h3, h4, h5 {
			color: $secondary-color;
			font-size: 30px;
			font-family: "Uniform-Medium";
			padding: 0;
			border-bottom: 0;
		}
	}

	img {
		margin-top: 30px;
	}

	.items {
		margin-top: 6rem;

		.item {
			padding-bottom: 4rem;
			position: relative;

			&:last-of-type {
				padding-bottom: 0;

				.img {
					&:after {
						display: none;
					}
				}
			}

			div {
				display: inline-block;
				vertical-align: middle;
			}

			.img {
				width: 20%;
				position: relative;
				
				@media (#{$bp-larger-than-desktop}) {
					width: 20%;
				}

				&:after {
					content: '';
					width: 3px;
					height: 100%;
					position: absolute;
					background: #27b6b3;
					left: 36%;
					top: 100%;
					z-index: 0;
					display: none;

					@media (#{$bp-larger-than-desktop}) {
						display: block;
					}
				}

				img {
					margin: 0 0 2rem 0;
					width: 75%;
					display: block;

					@media (#{$bp-larger-than-desktop}) {
						width: 75%;
						margin: 0;
					}
				}
			}

			.title {
				width: 80%;
				margin-bottom: 2rem;

				@media (#{$bp-larger-than-desktop}) {
					width: 20%;
					margin-bottom: 0;
				}

				h1, h2, h3 {
					font-size: 2rem;
					text-decoration: none;
					border: 0;
					margin: 0;
					padding: 0;
				}
			}

			.text {
				width: 100%;
				box-sizing: border-box;

				@media (#{$bp-larger-than-desktop}) {
					width: 60%;
					padding-left: 2rem;
					padding-left: 2rem;
				}

				p {
					font-size: 1.7rem;
					color: #210e26;
				}
			}
		}
	}
}

.licensing #joining {
	// padding-bottom: 0;
}

#casestudy {
	padding: 150px 0;
	background-color: $primary-color;

	h1, h2, h3, h4, p {
		color: white;
	}

	&:after {
		@include bottomslope();
	}

	&:before {
		@include topslope();
	}
}

#contact {
	padding: 150px 0;
	background-color: #f9f9f9;

	.text {
		float: left;
		width: 80%;
	}

	h4 {
		color: $primary-color;
		font-size: 20px;
	}

	p {
		font-family: "Uniform-Black";
		font-size: 18px;
		color: $primary-color;

		a {
			color: $secondary-color;
		}
	}

	@media (#{$bp-larger-than-tablet}) {
		h4 {
			font-size: 24px;
		}

		p {
			font-size: 22px;
		}
	}

	img {
		width: 15%;
		float: right;
	}
}

.how-it-works #contact {
	background-color: #f9f9f9;
}

#coverage {
	// height: 100vh;
	min-height: 100vh;
	background-color: transparent;
	padding: 100px 0;

	max-width: 1920px;
	margin: 0 auto;

	&:after {
		@include bottomslope();
	}

	&:before {
		@include topslope();
	}

	.slick-prev, .slick-next {
		position: absolute;
		top: 50%;
		width: 30px;
		height: 50px;
		display: block;
		background-size: contain;
		background-repeat: no-repeat;
		text-indent: -9999px;

		@media (#{$bp-smaller-than-tablet}) {
			display: none !important;
		}
	}

	.slick-prev {
		background-image: url(assets/img/left-chevron.svg);
		left: -40px;
	}

	.slick-next {
		background-image: url(assets/img/right-chevron.svg);
		right: -40px;
	}

	.copy {
		padding: 80px 0;
	}

	h3, h4, p, cite {
		color: white;
	}

	h4 {
		font-size: 30px;
	}

	.owl-carousel, .multiple-items {
		margin-top: 80px;
	}

	.button {
		border: 1px solid #fff;
		color: white;
		text-transform: uppercase;
		border-radius: 0;
		width: 100%;
	}
}

#news {
	padding: 150px 0;

	.brands {
		margin-top: 60px;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				width: 20%;
				height: auto;
				display: inline-block;
				vertical-align: middle;
				box-sizing: border-box;
				text-align: center;
				margin-bottom: 30px;

				@media (#{$bp-smaller-than-tablet}) {
					width: 50%;
				}

			}
		}
		img {
			display: block;
			margin: 0 auto;
			max-height: 130px;
			max-width: 130px;
			width: auto;
			height: auto;
		}
	}
}

#subfooter {
	padding: 50px 0;
	background-color: #591985;
	color: white;

	max-width: 1920px;
	margin: 0 auto;

	.branding {

		img, svg {
			width: 60px;
			margin-bottom: 20px;
		}
	}

	.offices {
		margin-top: 30px;

		@media (#{$bp-larger-than-tablet}) {
			border-left: 2px solid #27b6b3;
			padding-left: 4%;
			margin-top: 0;
		}

		.office {
			margin-bottom: 40px;
			width: 100%;
			display: inline-block;
			padding-right: 40px;
			box-sizing: border-box;

			@media (#{$bp-larger-than-laptop}) {
				width: 50%;
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			span {
				display: block;
			}

			h4 {
				color: #27b6b3;
				font-size: 22px;
				text-transform: uppercase;
				margin-bottom: 0;
			}

			a {
				color: white;
				text-decoration: none;
			}
		}
	}
}

.contact {

	input[type='email'], input[type='number'], input[type='search'], input[type='text'], input[type='tel'], input[type='url'], input[type='password'], textarea, select {
    	width: 100%;
	}

	textarea {
    	height: 170px;
	}
	
}

footer {
	padding: 25px 0;
	background-color: #27b6b3;
	text-align: center;

	max-width: 1920px;
	margin: 0 auto;

	@media (#{$bp-larger-than-tablet}) {
		text-align: left;
	}

	p, ul, li, a {
		color: white;
	}

	ul {
		margin: 0;
		text-align: center;

		@media (#{$bp-larger-than-tablet}) {
			text-align: right;
		}

		li {
			display: inline-block;
			margin-left: 15px;
		}
	}
}

.cc-compliance a.cc-btn.cc-dismiss {
}